.conteiner{
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.input{
width: 350px;
height: 25px;
}
.btn{
margin-left: 10px;
}

.todo_conteiner{
position: relative;
}
.task_todo{
 margin-top:10px ;
 display: flex;
 width: 50vw;
 justify-content: space-between;
 border: 2px solid rgb(18, 18, 41);
 border-radius: 5px;
 padding: 10px;
 align-items: center;
}
.btn_todo{
 width: 25px;
 height: 25px;
}